@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.f-caprasimo{
    font-family: 'Caprasimo',cursive !important;
}
a{
    text-decoration: none !important;
}
/* //// color classes //// */

.bg-black{
    background-color: #0A090C !important;
}
.text-black{
    color: #0A090C !important;
}
.bg-white{
    background-color: #f0edee !important;
}
.text-white{
    color: #f0edee !important;
}
.bg-midnight-green{
    background-color: #07393c !important;
}
.text-midnight-green{
    color: #07393c !important;
}
.bg-caribbean-current{
    background-color: #2c666e !important;
}
.text-caribbean-current{
color: #2c666e !important;
}
.bg-photo-blue{
    background-color: #90ddf0 !important;
}
.text-photo-blue{
    color: #90ddf0 !important;
}
.bg-mustard{
    background-color: #fed766 !important;
}
.text-mustard{
    color: #fed766 !important;
}

/* .scale_on_hover{
    transition: ease all 0.5s;
}
.scale_on_hover:hover{
   transform: scale(1.09);
   border-bottom: 2px solid #07393c;
} */