.bg-partyPopper {
  /* background-image: url("../../images/partyPopper.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
}

.quizgame-board {
  background-color: #d5ebfd;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 7px solid #07393c;
  border-radius: 36px;
  padding: 2em;

  box-shadow: -2px 5px 5px -1px rgb(19, 133, 139);
}

.quizgame-board .quizgame-board-title {
  text-align: center;
  padding: 5px;
  background-color: rgb(7, 57, 60);
  font-size: 30px;
  border-radius: 30px;
  color: #fff;
  font-weight: 700;
  width: 200px;
  /* vertical-align: middle; */
  left: calc(50% - 100px);
  top: calc(0% - 90px);
  display: block;
  position: absolute;
}

.quizgame-board .quizgame-rank {
  font-weight: 700;
  color: #2c666e;
  background: #f0f6f7;
  margin: 0.5em;
  padding: 1em 0.5em;
  font-size: 18px;
  border-radius: 22px;
  -webkit-box-shadow: inset 4px 4px 5px -1px rgb(120, 184, 197);
  -moz-box-shadow: inset 4px 4px 5px -1px rgb(140, 227, 244);
  box-shadow: inset 4px 4px 5px -1px rgb(25, 120, 125);
}

/* .quizgame-board .rank span {
  font-size: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #39858f;
  border-radius: 100%;
} */

.quizgame-board .rank-1 span {
  color: #f8df9c;
  border: 3px solid #FFBA00;
  background: #D37A0F;
  padding: 8px;
  border-radius: 100%;

}

.quizgame-board .rank-2 span {
  color: #CCCCCC;
  border: 3px solid #CCCCCC;
  background: #808080;
  padding: 8px;
  border-radius: 100%;
}

.quizgame-board .rank-3 span {
  color: #f0b76d;
  border: 3px solid #B96F0E;
  background: #6d2419;
  padding: 8px;
  border-radius: 100%;
}

.quizgame-board .rank-4 span {
  color: #f1f0ee;
  border: 3px solid #2a8dea;
  background: #2bbcb0;
  padding: 8px;
  border-radius: 100%;
}

.quizgame-board .rank-5 span {
  color: #f1f0ee;
  border: 3px solid #a90894;
  background: #c32f96;
  padding: 8px;
  border-radius: 100%;
}

.quizgame-board .rank-6 span {
  color: #f1f0ee;
  border: 3px solid #93b016;
  background: #b2cf32;
  padding: 8px;
  border-radius: 100%;
}

.quizgame-board .rank-7 span {
  color: #f1f0ee;
  border: 3px solid #a78709;
  background: #a78709;
  padding: 8px;
  border-radius: 100%;
}

.quizgame-board .rank-8 span {
  color: #f1f0ee;
  border: 3px solid #12977d;
  background: #09a787;
  padding: 8px;
  border-radius: 100%;
}

.quizgame-board .rank-9 span {
  color: #f1f0ee;
  border: 3px solid #b309e3;
  background: #8908ad;
  padding: 8px;
  border-radius: 100%;
}

.quizgame-board .rank-10 span {
  color: #f1f0ee;
  border: 3px solid #ea5c5e;
  background: #c91316;
  padding: 8px;
  border-radius: 100%;
}

.quizgame-board .quizgame-rank {
  align-items: center;
  justify-content: center;
}

.upvoteBox {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 1px;
  height: 30px;
  width: 60px;
  color: white;
  background-color: rgb(10, 169, 10);
  border-radius: 8px;
}


.news-ticker {
  background-color: #fed766;
  /* Set the background color to red */
  font-family: cursive;
  /* Apply a specific font family to the text */
  padding: 10px;
  /* Add some padding to the news ticker */
  color: white;
  font-size: 20px;
}