@media (max-width: 450px){
.commentheader{
    flex-direction: column;
}
   }

.detailnav a:hover{
    cursor: pointer;
    font-weight: bold;
}
.commentshadow:hover{
    box-shadow:  0 0 5px 2px #07393c;
}