@media (max-width: 450px){
.commentheader{
    flex-direction: column;
}
   }

.detailnav button:hover{
    cursor: pointer;
    font-weight: bold;
}
.commentshadow:hover{
    box-shadow:  0 0 5px 2px #07393c;
}
.activelikescolor{
    color: green;
}
.fa-thumbs-up:hover{
    font-size: large;
    cursor: pointer;
}
.activedislikescolor{
    color: rgb(182, 2, 2);
}
.fa-thumbs-down:hover{
    font-size: large;
    cursor: pointer;
}


  