.footer-clean {
    padding:50px 0;
    /* background-color:#060000; */
    color:#0a090c;
    background-image:url("https://www.google.com/search?rlz=1C1ONGR_enPK980PK980&sxsrf=AB5stBjhvw6qJnO3v8xggbQ711XR_UIo3g:1688818973915&q=wave+image+png+green&tbm=isch&sa=X&ved=2ahUKEwizup74jP__AhVPKewKHfgMAX8Q0pQJegQIFxAB&biw=1622&bih=820&dpr=1.13#imgrc=7-75PYfsPuCu3M") ;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .anim{
    
    background: linear-gradient(45deg, #07393c, #2c666e, #7fc3d4);
    background-size: 600% 600%;
    animation: gradientAnimation 10s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    75%{
        background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-clean ul li a:hover {
    opacity:1;
    color:rgba(227, 17, 17, 0.963);
    font-size:medium;
    
  }
  
  .footer-clean .items.socials {
    text-align:right;
  }
  
  
  @media (max-width:767px) {
    .footer-clean .items {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  @media (max-width: 768px) {
    .footer-clean .items.socials {
      text-align:center;
    }
  }
  
  .footer-clean .items.socials > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #000000;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .footer-clean .items.socials > a:hover {
    box-shadow: 0 0 20px #07393c; /* Add box shadow on hover */
    opacity:1;
  }
 
  
  @media (max-width:991px) {
    .footer-clean .items.socials > a {
      margin-top:40px;
    }
  }
  
  @media (max-width:767px) {
    .footer-clean .items.socials > a {
      margin-top:10px;
    }
  }
  
  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
  }
  