.form{
    border: 1px solid lightgrey;
    
}
.commentbox{
    height: 10rem;
    width: 18rem;
    border: 1px solid lightgrey;
}
.commentbox:active , .commentbox:focus{
    outline: none;
}
.contactinp{
    width: 20rem;
    height: 2.4rem;
    padding: 0 0.5rem;
    font-size: 16px;
}
.contactinp:focus , .contacttextarea:focus{
    outline: none;
}
.contacttextarea{
  width: 20rem;
  height:12rem;  
    padding: 0.5rem 0.5rem;
    font-size: 16px;
}
.b-1{
    border: 1px solid lightgrey;
}
.contactbody{
    padding-left: 3rem ;
    padding-right: 3rem;
}

@media screen and (max-width: 480px) {
  .contactbody{
    padding-left: 0rem ;
    padding-right: 0rem;
}
}